<section class="container py-5">
    <!-- fade in -->
    @if (!showMainContent) {
    <div class="section-intro">
        <h1>Industrial Design Projects</h1>
    </div>
    }
    <!-- fade out -->

    <div class="{{ showMainContent ? 'fade-in' : 'hidden' }}">
        <h2 class="mb-4 text-center">💡 Industrial Design Projects</h2>
        <p class="text-center mb-5">
            From layouts to 3D product visualizations, these projects showcase my approach to industrial
            design: detail-oriented, technically grounded, and always mindful of context and impact. They reflect years
            of collaboration across design and engineering, where clarity and usability are as important as form.
        </p>


        <div class="section-divider"></div>

        <section class="container py-5">
            <div class="row gy-4">
                @for (project of projects; track project.title; let i = $index) {
                <app-project-card [project]="project" [index]="i"></app-project-card>
                }
            </div>
        </section>
    </div>
</section>