<!-- fade in -->
@if (!showMainContent) {
<div class="section-intro">
    <h1>About me</h1>
</div>
}
<!-- fade out -->

<section class="{{ showMainContent ? 'fade-in' : 'hidden' }} about-bio ">

    <div class="about-col photo">
        <img [src]="about.imageUrl" alt="Gian Caorlin" />
    </div>

    <div class="about-col text">
        <h1>
            <span class="hello">Hello, I’m</span><br />
            <span class="highlighted-name">Gian Caorlin</span>.
        </h1>
        <h2>Full-stack Developer & Industrial Designer</h2>
        <p>
        <p>
            I create tools and experiences that connect digital systems with the physical world.
            My work is driven by <strong>curiosity</strong>, shaped by <strong>technical precision</strong>,
            and sustained by <strong>resilience</strong>, spanning software development and design.
        </p>

        <p>
            With an industrial design background and a strong commitment to sustainable innovation,
            I’m now expanding into full-stack development to build thoughtful, functional, and scalable products.
        </p>

        <ul class="social">
            <li><a href="mailto:caorlingiancarlo@gmail.com" class="btn-pill">Email</a></li>
            <li><a href="https://github.com/l5partanl" target="_blank" class="btn-pill">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/gian-caorlin" target="_blank" class="btn-pill">LinkedIn</a></li>
            <li><a href="https://instagram.com/gian.caorlin" target="_blank" class="btn-pill">Instagram</a></li>
        </ul>
    </div>

</section>