<section class="container py-5">
    <!-- fade in -->
    @if (!showMainContent) {
    <div class="section-intro">
        <h1>Full-stack projects</h1>
    </div>
    }
    <!-- fade out -->

    <!-- CONTENIDO SIEMPRE EN EL DOM, PERO CON CLASES CONDICIONALES -->
    <div class="{{ showMainContent ? 'fade-in' : 'hidden' }}">
        <h2 class="mb-4 text-center">⚡ Full-stack projects</h2>
        <p class="text-center mb-5">
            A selection of full-stack applications where I’ve brought together frontend and backend technologies to
            solve real-world problems. Each project reflects my focus on usability, system thinking, and clean,
            purposeful design.
        </p>


        <div class="section-divider"></div>

        <section class="container py-5">
            <div class="row gy-4">
                @for (project of projects; track project.title; let i = $index) {
                <app-project-card [project]="project" [index]="i"></app-project-card>
                }
            </div>
        </section>
    </div>
</section>