<section class="main">
    <div class="mesa">
        <img src="assets/images/fondo.png" class="fondo" alt="Mesa">
        <img src="assets/images/movil.png" class="obj movil" alt="Móvil">
        <img src="assets/images/curriculum.png" class="obj curriculum" alt="Currículum">
        <img src="assets/images/foto.png" class="obj foto" alt="Foto">
        <img src="assets/images/libro.png" class="obj libro" alt="Libro">
        <img src="assets/images/cuaderno.png" class="obj cuaderno" alt="Cuaderno">
        <a href="/projects/fullstack">
            <img src="assets/images/pc.png" class="obj pc" alt="Full-Stack">
        </a>
        <a href="/projects/design">
            <img src="assets/images/flotador.png" class="obj flotador" alt="Industrial Design">
        </a>
    </div>
</section>