<header class="site-header sticky-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded shadow p-1 px-4 mx-auto"
        style="max-width: 55%; backdrop-filter: blur(10px);">
        <div class="container-fluid justify-content-between">
            <span class="navbar-brand fw-semibold text-white">Gian - Full-Stack / Designer</span>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="mainNavbar">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="main">
    <div class="mesa">
        <img src="assets/images/fondo.png" class="fondo" alt="Mesa">
        <img src="assets/images/movil.png" class="obj movil" alt="Móvil">
        <img src="assets/images/curriculum.png" class="obj curriculum" alt="Currículum">
        <img src="assets/images/foto.png" class="obj foto" alt="Foto">
        <img src="assets/images/libro.png" class="obj libro" alt="Libro">
        <img src="assets/images/cuaderno.png" class="obj cuaderno" alt="Cuaderno">
        <a href="/projects/fullstack">
            <img src="assets/images/pc.png" class="obj pc" alt="Full-Stack">
        </a>
        <a href="/projects/design">
            <img src="assets/images/flotador.png" class="obj flotador" alt="Industrial Design">
        </a>
    </div>
</section>