<div class="project-card container-fluid p-4 mb-5" [ngClass]="{ 'reverse': index % 2 === 1 }">
    <div class="row g-4 align-items-start">
        <!-- Columna de imagen (siempre ocupa 5 columnas en desktop) -->
        <div class="col-12 col-md-5">
            <div class="device-frame">
                @if (project.imageUrl === 'INCEPTION') {
                <app-inception-frame></app-inception-frame>
                } @else {
                <img class="project-image" [src]="project.imageUrl" alt="{{ project.title }}" />
                }
            </div>
        </div>

        <!-- Contenido textual -->
        <div class="col-12 col-md-7 d-flex flex-column justify-content-between h-100">
            <div>
                <h3 class="fw-semibold mb-2">⚡ {{ project.title }}</h3>
                <p>{{ project.description }}</p>

                <div class="tags d-flex flex-wrap gap-2 my-3">
                    @for (tag of project.tags; track tag) {
                    <span class="tag badge text-dark bg-light d-inline-flex align-items-center gap-2 px-3 py-2">
                        <img [src]="getIconPath(tag)" class="icon" alt="{{ tag }} icon" style="height: 1rem;" />
                        {{ tag }}
                    </span>
                    }
                </div>
            </div>

            <div class="links d-flex gap-3 mt-3">
                @if (project.liveLink) {
                <a [href]="project.liveLink" target="_blank" class="btn-pill">Live project</a>
                }
                @if (project.github) {
                <a [href]="project.github" target="_blank" class="btn-pill">GitHub readme</a>
                }
            </div>

        </div>
    </div>
</div>